<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RezervacijaServlet</servlet-name>
        <servlet-class>servlets.RezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija_servlet</servlet-name>
        <servlet-class>servlets.Registracija_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Svi_bioskopi_servlet</servlet-name>
        <servlet-class>servlets.Svi_bioskopi_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_servlet</servlet-name>
        <servlet-class>servlets.Login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pocetni_servlet</servlet-name>
        <servlet-class>servlets.Pocetni_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtvaranjeFormeServlet</servlet-name>
        <servlet-class>servlets.OtvaranjeFormeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatumServlet</servlet-name>
        <servlet-class>servlets.DatumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TehnologijaServlet</servlet-name>
        <servlet-class>servlets.TehnologijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopunjavanjePodatakaServlet</servlet-name>
        <servlet-class>servlets.PopunjavanjePodatakaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministracijaSaleServlet</servlet-name>
        <servlet-class>servlets.AdministracijaSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministracijaBioskopaServlet</servlet-name>
        <servlet-class>servlets.AdministracijaBioskopaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KonacnaRezervacijaServlet</servlet-name>
        <servlet-class>servlets.KonacnaRezervacijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QRCode</servlet-name>
        <servlet-class>servlets.QRCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministracijaFilmovaServlet</servlet-name>
        <servlet-class>servlets.AdministracijaFilmovaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministracijaClanovaServlet</servlet-name>
        <servlet-class>servlets.AdministracijaClanovaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KluboviServlet</servlet-name>
        <servlet-class>servlets.KluboviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerServlet</servlet-name>
        <servlet-class>servlets.MenadzerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RezervacijaServlet</servlet-name>
        <url-pattern>/RezervacijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Svi_bioskopi_servlet</servlet-name>
        <url-pattern>/Svi_bioskopi_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija_servlet</servlet-name>
        <url-pattern>/Registracija_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_servlet</servlet-name>
        <url-pattern>/Login_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pocetni_servlet</servlet-name>
        <url-pattern>/Pocetni_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtvaranjeFormeServlet</servlet-name>
        <url-pattern>/OtvaranjeFormeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatumServlet</servlet-name>
        <url-pattern>/DatumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TehnologijaServlet</servlet-name>
        <url-pattern>/TehnologijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopunjavanjePodatakaServlet</servlet-name>
        <url-pattern>/PopunjavanjePodatakaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracijaSaleServlet</servlet-name>
        <url-pattern>/AdministracijaSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracijaBioskopaServlet</servlet-name>
        <url-pattern>/AdministracijaBioskopaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KonacnaRezervacijaServlet</servlet-name>
        <url-pattern>/KonacnaRezervacijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QRCode</servlet-name>
        <url-pattern>/QRCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracijaFilmovaServlet</servlet-name>
        <url-pattern>/AdministracijaFilmovaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracijaClanovaServlet</servlet-name>
        <url-pattern>/AdministracijaClanovaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KluboviServlet</servlet-name>
        <url-pattern>/KluboviServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerServlet</servlet-name>
        <url-pattern>/MenadzerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
