/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 27, 2016, 12:44:28 PM
    Author     : Nebojsa
*/
body {
	background: #555;
}
.sediste {
	width: 18px;
	height: 18px;
	background: #fcfff4;
        float: left;
        margin-left: 9px;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	
        
        
        
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.sediste label {
	cursor: pointer;
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
        
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #fff 0%, #bbb 100%);
	background: -moz-linear-gradient(top, #fff 0%, #bbb 100%);
	background: -o-linear-gradient(top, #fff 0%, #bbb 100%);
	background: -ms-linear-gradient(top, #fff 0%, #bbb 100%);
	background: linear-gradient(top, #fff 0%, #bbb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#bbb',GradientType=0 );
}


.sediste label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0.9;
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	background: green;


	top: 0px;
	left: 0px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}
.sediste label.zauzeto:after {
    
	background: red;
}
.sediste label.invalidsko:after {
    
	background: yellow;
}

.sediste:hover label::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
        
        background: blue;
	opacity: 0.3;
}

.sediste input[type=checkbox]:checked + label::after {
        background: blue;
}
