
body {
  margin: 0px 0px;
    }
.background {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    background-size: 1566px 767px;
    background-image: url("../slike/cinemax_vest.jpg");    
    background-repeat:no-repeat;
    -webkit-transition: height 1s; 
    transition: height 1s ;
    transition-timing-function: linear;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.maska{
    background-color: #231F20;
    width: 1100px;
    height: 950px;
    position: absolute;
    clear: both;
    margin-top: 225px;
    z-index: 2;
}
_:-ms-lang(x), _:-webkit-full-screen, .maska {
    z-index:-1; 
}


.container,.containerForma{
    background-color: #231F20;
    opacity: 0.98;
    width: 1100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}
.containerForma{
    margin-top: -20px;
}
#top{
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.top_bar{    
    width: 1090px;
    height: 70px;
    padding-top:6px;
    padding-left:5px;
    padding-right:5px;
    background-color: #231F20;  
    font-family: 'Armata';
    font-weight: bold;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #28466D;
    
}
.logo{
    width: 220px;
    height: 64px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url("../slike/traka.png");        
    background-repeat:no-repeat;
    float: left;
    opacity: 0.5;
    border-radius: 15px;
}
#hover_menu,#hover_menu_prodavac,#hover_menu_korisnik,#hover_menu_rezervacija{
    width: 320px;    
    height: 64px;   
    margin-right:1px;
    background-color:#232023;
    float: right;
}

.main_rezervacija{
}
#natpis,#natpis_prodavac,#natpis_korisnik,#natpis_rezervacija{
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 18px;
    color: #C11437;
}
.link, #kriterijum{
    display: none;
}
#kriterijum{
    width: 250px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    clear: both;
}
.main_menu{
    height: 37px; 
    width: 490px;
    float: left;
    margin-left: 38px;
}
.main_menu_item{
    margin-top: 6px;
    margin-right: 5px;
    border-top-style: solid;
    border-top-color: lightslategray;
    border-bottom-style: solid;
    border-bottom-color: lightslategray;
    font-size: 13px;
    float: left;
    height: 35px;
    width: 65px;    
}
.main_menu_item:hover{    
    background-color: #C11437; 
}
.main_menu_item_user{   
    
    color: #C11437;
    margin-top: 6px;
    margin-right: 5px;
    font-size: 13px;
    float: left;
    height: 35px;
    width: 65px;
}
.main_menu_link_user{
    color:#C11437;
}
.main_menu_link{
    font-size: 11px;
    color:white;
    width: 45px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.main_menu_link_admin{
    font-size: 11px;
    color:white;
    width: 55px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: auto;
}
.okvir{
    width: 350px;
    background-color: #BDcDBD;
    border:1px solid grey;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#adminOkvir{
    margin-left: 370px;;
    margin-right: auto;    
    display: block;
    width: 350px;
}
#adminOkvir textArea{
    margin-left: 0px;
}
#menadzerOkvir{
    margin-top: 100px;
    margin-left: 370px;;
    margin-right: auto;
    margin-bottom: 90px;    
    display: block;
    width: 350px;
}
#adminWrapper{
}
.okvirAdmin{
    width: 400px;
    background-color: #BDcDBD;
    border:1px solid grey;
    border-radius: 15px;
    margin-left: 98px;
    margin-top: 35px;
    padding-bottom: 20px;
    float: left;
    display: inline;
}
#menadzer_main_menu{
    margin-left: 150px;
}
.duzi{
    margin-left: 0px; 
}
.okvirAdmin table{
    width:340px;
}

.okvir table{
    border-spacing: 5px 20px;
    display:inline-block;
}
.centrirani{
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    background-color: #BDcDBD;
}
table text {
    color: whitesmoke;
}
#login_pozadina,#login_pozadina_korisnik{
    width: 246px;
    float: right;
    margin-right:8px;
    height: 225px;
    border-radius: 10px;
    background-image: url("../slike/kartice/card1.jpg");
    display: block;
}
#login_forma,#login_forma_korisnik{    
    margin-right:8px;
    width: 240px;
    float:right;
    height: 220px;
    border-radius: 10px;
    border-style: solid;
    background-repeat: no-repeat;
    display: none;
    color: white;
}
#login_forma a,#login_forma_korisnik a{
    
    color: white;
}
.slider_1{
    width: 830px;
    float: right;
    margin-right:8px;
    height: 225px;
    border-radius: 10px;
}
.slider{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.traka,kraj{
    width: 828px;
    height: 179px;
    border-radius: 10px;
    position: relative;
    
}
#slider2{
    display: none;
}
.horiz_razmak{
    width: inherit;
    height: 10px;
}
#main_film,#main_klub,#main_home,#main_home_kor{
    margin-left: 15px;
}
#login_button{
    margin-left: 6px;
}
#login_button,#login_button_k:hover{
    cursor: pointer;
}
#user_name_p,#user_name_r,#user_name_d{
    display: block;
}
.main_menu_item_button{
    background-color: #232023;
    
    border-width: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 6px;
    margin-right: 5px;
    border-right:none;
    border-left: none;
    border-top-style: solid;
    border-top-color: lightslategray;
    border-bottom-style: solid;
    border-bottom-color: lightslategray;
    font-size: 12px;  
    font-weight: bold;
    font-family: 'Armata';
    width: 65px;
    height: 41px;
}
#log_out_div:hover, #log_out_div_i:hover{
    background-color: #C11437;
}

#user_name_p,#user_name_r{
    margin-left: 5px;
}
.prozor{
    width: 850px;
    height: 460px;
    background-color: lightgrey;
    overflow-x: hidden;
    overflow-y: auto; 
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    margin-top:10px;
    position: relative;
    z-index: 100;
    float:left;
}
.repertoar{
    width:118px;
    margin-top:200px;
    margin-left:7px;
    float:left;
    position: relative;
    z-index: 2;
}
hr{
    clear:both;
}
.scroll_image{
    margin-top:2px;
    margin-left:3px;
    width:154px;
    height:220px;
    background-color:#231F20;    
    float:left;
}
.scroll_div_vertical{
    width:157px;
    height: 449px;
    float:left;
    margin-top: 2px;
}

.scroll_div_horizontal{
    width:1100px;
    height: 449px;
    float:left;
}
.sssnext, .sssprev {
	width: 25px;
	height: 200px;
	margin: 0;
	position: absolute;
	top: 0;
	background: url('slike/arr.jpg') no-repeat;
        display:block;
}

.sssprev {
	left: 13%;
	background-position: 0 50%;
}

.sssnext {
	right: 13%;
	background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}
h4{
    
    margin-bottom: 1px;
    width: 100px;
    border-style: solid;
    border-radius: 5px;
    border-color:lightslategray;
    border-width:1px;
    color:white;
    padding-left:3px;
    padding-right: 3px;
}
#footer{
    background-color: #231F20;
    width: 100%;
    height: 130px;
    border-top-style: solid;
}
#footer_menu{
    width:300px;
    height: 60px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
#footer_menu p{
    margin-left: auto;
    margin-right: auto;
    color: #F8F9FA;
}
.footer_menu_link_d{
    width:85%;
}
.footer_menu_link_k{
    width:50%;
}
.footerText{
    width:250px;
    margin-left: auto;
    margin-top:5px;
    margin-right: auto;
    clear: left;
    color: #F8F9FA;
}
.poster, .poster_traka{
    height:175px;
    width:120px;
    margin-left: 17px;  
}
.rating{
    width:150px;
    height:20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right:auto;
}
.rating_img{
    width:20px;
    height: 20px;
    color: white;
}
.naslov{
   width: 80px;
   height:20px;
   margin-top:0px;
    color:white;
}
.rezervacija{
    margin-left:40px;
    width:80px;
    color: #C11437;
}
.rezervacija_div{
    
    width:100%;
    height:100%;
    background-image: url("slike/movieTape.png")
}
.player iframe{
    width:640px;
    height:360px;
    display: none;
    position:relative;
    left: 0px;
    z-index: 999;
}
.player_wrapper{
    width:640px;
    height:391px;
    position:fixed;
    top: 10%;
    left:25%;
    background-color: #010101;
    display: none;
    z-index: 998;
}
.uloge{
    width:90%;
    height: 40%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.close{
    width: 25px;
    height: 25px;
    float: right;
    margin-top:3px;
    margin-right: 3px;
    z-index: 1000;
}
.wrapper {
    width: 833px;
    height: 225px;
    background-color: #231F20;
    display:block;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y :hidden;
    position: relative;
    z-index: 2;
    
}
#wraper {
    width: 825px;
    height: 179px;
    background-color: #6D6B6C;
    display: block;
    border-radius: 10px;  
    color: white;
    font-size: 24px;
    text-align: center;
}
.polje_za_izbor{
    width: 164px;
    height: 100%;
    background-color: #231F20;
    float:left;
    border-style: solid;
    border-width: 1px;    
}
.prikaz{
    width:828px;
    height: 78%;
    border-style: solid;
    border-width: 1px;
    overflow-y:auto;    
    overflow-x:auto;
}
.polja{    
    height: 20%;
    width:830px;
}
.izbor_input{
 margin-left: 15px;
 width:200px;
}
.izbor_btn{
margin-left: 0px;
 width: 48px;
 padding: 2px;
 border: 2px;
}
#potvrda,#resetovanje{    
 height:23px;
 margin-left: 6px;
 margin-right: auto;
}
.opcija{
    float: left;
    width: 105px;
    margin-left: 60px;
    color:white;
}
.filmskaTraka{
    width: 1800px;
    height:176px;
    margin-top:1px;
}
.pozadina_gradient {
    /* fallback DIY*/ /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, left top, right top, from(#2F2727), color-stop(0.05, #1a82f7), color-stop(0.5, #2F2727), color-stop(0.95, #1a82f7), to(#2F2727));
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(left, #2A3D59 , #1a82f7 25%, #2A3D59 , #1a82f7 75%,#2A3D59 );
    /* IE 10 */ 
    background: -ms-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727);
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(left, #2F2727, #1a82f7 5%, #2F2727, #1a82f7 95%, #2F2727); 
    height: 1434px;
}
.pozadina_gradient1 {
    /* fallback DIY*/ /* Safari 4-5, Chrome 1-9 */ 
    background: -webkit-gradient(linear, left top, right top, from(#2F2727), color-stop(0.25, #1a82f7), color-stop(0.5, #2F2727), color-stop(0.75, #1a82f7), to(#2F2727));
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(left, #2F2727, #1a82f7 , #2F2727, #1a82f7, #2F2727); /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(left, #274974, #2F282A, #274974, #2F282A, #274974); /* IE 10 */ 
    background: -ms-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727); /* Opera 11.10+ */ 
    background: -o-linear-gradient(left, #2F2727, #1a82f7, #2F2727, #1a82f7, #2F2727); 
   
}

.div_horizontal, .div_horizontal_teh, .div_horizontal_pro{
    width:827px;
    height:180px;
    background-color: #274974;
}
.div_vertical{
    width:273px;
    height: 179px;
    float: left;
}
.div_vertical_teh ,.div_vertical_pro{    
    width:271px;
    height: 177px;
    border-style: solid;
    border-width: 2px;
    border-color: #274872;
    float: left;
}
.div_vertical_pro{ 
    margin-left:10px;
    margin-top: 10px;   
    height: 157px;   
    width:167px;
}
.div_vertical_pro input{ 
    margin:5px;
}
.div_bioskop{
    width:273px;
    height: 89px;
    background-color: #274974;
}
.slikaBioskopa{    
    width:133px;
    height: 89px;
    float: right;
    border-bottom-color: white;
}
.podaciBioskopa{      
    width:135px;
    height: 44px;
}
.naslov_bioskop{
    width: 140px;
    height: 22px;
    float: left;
    color: white;
    margin-top: 6px;
}
#izabraniDatum{
    
}
.raspored{
    background-image: url('slike/Raspored_sedista.png');
    background-repeat:no-repeat;
}
.rezultat{
    width: 1100px;
    height: 250px;
    background-color:#BDcDBD;
    clear: both;    
    border:1px solid grey;
    border-radius: 15px;
}
.poruke{
    width: 300px;
    margin-right: auto;
    margin-left: 430px;
    height: 30px;
    background-color: inherit;
    float:left;
    color:red;
}
#main_raspored{
    width:650px;
    height: auto;
    margin-left: 200px;
    margin-top:2px;
}
#main_raspored hr{
    margin-bottom: 60px;
}
.preostali_koraci{
    width:100%;
    height:100px;
    background-color: #768698;
}
.oznakaReda{
    position: relative;
    bottom: 22px;
    color:greenyellow;
    margin-left:10px;
    
}
.prolaz{
    	width: 40px;
	height: 18px;
        float:left;
        margin-left: auto;
        margin-right: auto;
}
.korak{
    width:30%;
    height:96px;
    float:left;
    
}
.korak input{
    margin-left:10px;
    margin-top: 8px;
    background-color: #b3bead;
}
.brojeviSedista{
    width:250px;    
    height:66px;
    float:left;
}
.sp{    
    top: 8px;
    position: relative;
}
textArea{
    margin-top: 8px;
    margin-left: 10px;
    float: left;
    background-color: #b3bead;
}
.dugme{
    float:right;
    width: 70px;
    margin-right: 15px;
    margin-top: 5px;
}
.unos_podataka{
    width: 650px;
    height: auto;
}
.zauzeto{
    background-color: red;
}
.invalidsko{
    background-color: yellow;
}
.odabrano{
      background-color: blue;
}
.slobodno{
      background-color: #158616;
}
.boja{
    width:18px;
    height: 18px;
    clear: both;
    margin-left: 5px;
    margin-top: 5px;
    border-top-style: solid;    
    border-bottom-style: solid;
    border-top-color: white;    
    border-bottom-color: white;
    border-top-color: white;    
    border-bottom-color: white;
    border-top-width: 1px;    
    border-bottom-width: 1px;  
}
.legenda{
    width:100px;
    height: auto;
    position: fixed;
    margin-top: 175px;
    margin-left:700px;
    color: white;
    
}.legenda span{
    margin-left: 20px;
}


.user{
    margin-top: 10px;
    margin-left: 25px;
    color: red;
    float: left;
    font-size: 20px;
}
.red{
    margin-top: 10px;
    margin-left: 40px;
    width: 625px;
    height: 20px;
    clear: both;
    align-items: center;
}
#dalje{
    width: 70px;
    height: 23px;
    background-color: lightgray;
    position: relative;
    left: 150px;
    top:10px;
    text-align: center; 
}
#nastavak{
    display:block;
}

#potvrda_rezervacije{
    margin-left: 35px;
}
#kod{
    color:red;
}
.sadrzaj{
    clear: both;
}
.podaciOFilmovima{
    width: 840px;
    height:440px;
    margin-left: 3px;
}
.podaciOFilmovima span{
    background-color: lightgrey;
}
.podaciOFilmu,.podaciOBioskopu,.podaciOKlubu{
    width: 95%;
    height:45%;
    margin-left: 19px;
    margin-top: 14px;
    background-color: #6D6D6F;
}
.casting{
    width: 40%;
    height:90%;
    float: left;
    margin-left: 14px;
    margin-top: 8px;
    background-color: lightgrey;
}
.casting img{
   transform: scale(2);
   position:relative;
   left:90px;
   top:48px;
}
.klubovi{
    width: 40%;
    height:90%;
    float: left;
    margin-left: 14px;
    margin-top: 8px;
    background-color: lightgrey;
}
.klubovi button{
    position: relative;
    top:5px;
    left:22px;
}
.glumci , .reditelj{
    width: 95%;
    height:45%;
    margin-left: 7px;
    margin-top: 4px;
}
.glumci{
    border-color: #6D6D6F;
    border-style: solid;
    border-width: 5px;
    overflow-y: scroll;
}
.nazivBioskopa{
    
    margin-left: 7px;
    margin-top: 54px;
    width: 95%;
    height:45%;
    border-color: #6D6D6F;
    border-style: solid;
    border-width: 5px;
    float:left;
    background-color: #6D6D6F;
}
.glumci span, .reditelj span{
    margin-top: 5px;
    margin-left: 5px;
}
.radnja, .bioskopi{
    width: 55%;
    height:90%;
    float: left;
    margin-left: 10px;
    margin-top: 9px;
    align-content: center;
    overflow-y:  scroll;
    background-color: lightgrey;
}
.bioskopi{
    overflow: hidden;
}
.radnja span{
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
     background-color: #6D6D6F;
     color:white;
     padding-left: 5px;
     padding-right: 5px;
}
.radnja p{
    width:95%;
    margin-left: 5px;
}
.glumci, .reditelj,.radnja,.casting,.podaciOFilmovima,.podaciOKlubu,.nazivBioskopa{
    border-radius: 10px;
    border-width: 1px;
}
.brSalaSpan{
    margin-left: 2px;
    margin-top: 25px;
    width:80%;
    color:#6D6D6F;
    background-color: lightgrey;
}
.main_admin{
    
}
.clear{
    clear: left; 
    display: block; 
}
#ok{
    margin-left: auto;
    margin-right: auto;
    width:100px;
    color:blue;
    clear:left;
}
#popup,#popupKlub,#popupClan,#popupPostoji{
    width: 790px;
    height: 205px;
    background-color: lightgray;
    border-radius: 10px;
    position:absolute;
    top:92px;
    left: 132px;
    display: none;
    padding-left:20px;
    padding-right: 20px;
    padding-top: 20px;    
    z-index: 1;
}
#popup span,#popupKlub span, #popupClan span, #popupPostoji span{
    font-size: 22px;
}
#popup p,#popupKlub p,#popupClan p,#popupPostoji p{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.qrcode-config{
    display: none;
}
.qrcode{
    margin-left: auto;
    margin-right: auto;
}
.role, username{
    margin-left: 40px;
    margin-top: 10px;
}
.korisnici{
    overflow-y:scroll;
    height: 40px;
    background-color: white;
    width:150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.korisnici span{
    cursor: pointer;
    width:150px;
}
.korisnici span:hover{
    background-color: lightgray;
}
